<style>
.webring-left {
	text-align: right;
}
.webring-center {
	text-align: center;
}
.webring-right {
	text-align: left;
}
.webring-circle {
	min-width: 500px;
	min-height: 50px;
}
</style>
<table class="webring-circle">
	<td class="webring-left">
		<a id="webring-prev">previous</a>
	</td>
	<td class="webring-center">
		<div id="webring-description">This site is part of the Thoughts of Mine webring</div>
		<a id="webring-rand">random</a>&nbsp;<a id="webring-about" href="https://webring.example.net/">about</a>
	</td>
	<td class="webring-right">
		<a id="webring-next">next</a>
	</td>
</table>
<script>
	const webringURL = "https://webring.example.net/";
	const localBaseURL = "https://example.net/";
	fetch(webringURL + "ring.json").then(response => response.json().then(items => {
		let myIndex = 0;
		for (let i = 0; i < items.length; i++) {
			if (items[i].url === localBaseURL) {
				myIndex = i;
				break;
			}
		}
		let prev = myIndex - 1;
		let next = myIndex + 1;
		if (myIndex === 0) {
			prev = items.length - 1;
		}
		else if (myIndex === items.length - 1) {
			next = 0;
		}
		let rand = myIndex;
		while (rand === myIndex) {
			rand = Math.floor(Math.random() * items.length);
		}
		document.getElementById("webring-prev").href=items[prev].url;
		document.getElementById("webring-next").href=items[next].url;
		document.getElementById("webring-rand").href=items[rand].url;
	}));
</script>
