<style>
:root {
	--webring-height: 31px;
}
body {
	background: none transparent;
}
.webring-text {
	flex-grow: 0;
}
.webring-items {
	flex-grow: 1;
	flex-shrink: 1;
	gap: 5px;
	display: flex;
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	text-align: center;
	position: relative;
	justify-content: start;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.webring-item-image, .webring-item-text {
	max-height: var(--webring-height);
}
.webring-item-text {
	color: black !important;
	background-color: #eee;
	padding: 0 10px;
	box-sizing: border-box;
	--border-width: 2px;
	border-width: var(--border-width);
	border-style: solid;
	border-color: #c6c6c6 #878282 #878282 #c6c6c6;
	line-height: calc(var(--webring-height) - var(--border-width));
	text-decoration: none;
}
</style>
<div class="webring-items" id="webring-items">
	<script>
		const webringURL = "https://webring.example.net/";
		const localBaseURL = "https://example.net/";
		fetch(webringURL + "ring.json").then(response => response.json().then(items => {
			let content = "";
			items.forEach(item => {
				if (item.url === localBaseURL) {
					return;
				}
				if (Object.hasOwn(item, "image")) {
					content += `<a class="webring-item-image" href="${item.url}"><img src="${webringURL + item.image}" alt="${item.text}"/></a>`;
				}
				else {
					content += `<a class="webring-item-text" href="${item.url}">${item.text}</a>`;
				}
				document.getElementById("webring-items").innerHTML = content;
			});
		}));
	</script>
</div>
